.header {
    margin-bottom: 2rem;
}

.name-and-title {
    text-align: center;

    .name {
        font-size: 3rem;
        font-weight: bold;
        margin-bottom: .5rem;
    }

    hr {
        width: 40%;
        border: 1px solid #eee;
    }

    .title {
        font-size: 2rem;
        font-weight: bold;
    }
}