.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .header {
        flex: 1 100%;
    }

    .projects {
        margin-top: 4rem;
        max-width: 800px;
    }
}